@use "../../variables";
@import "../../mixins";

.benefits_contain {
	padding-inline: 1rem;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 2rem;
	align-items: start;
	gap: 1.5rem;
	@include center-column;

	.benefits_header,
	.benefits_body {
		@include center-column;
		align-items: start;
		gap: 1rem;
	}

	@media screen and (min-width: 768px) {
		padding-inline: 2rem;
		.benefits_header {
			width: 100%;
			@include center-row;
			align-items: end;
			justify-content: space-between;

			> p {
				text-align: right;
				width: 30%;
				@media screen and (min-width: 820px) {
					width: 40%;
				}
			}
		}

		.benefits_body {
			@include center-row;
		}
	}
}
