@use "../../variables";
@import "../../mixins";

.our_products {
	@include max-width;
	padding-inline: 1rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto 250px 250px;
	gap: 1rem;
	.our_products_header {
		order: 1;
		@include center-column;
		align-items: start;
		gap: 1rem;

		p {
			width: 100%;
		}
	}
	.img_holder1 {
		order: 4;
	}
	.img_holder2 {
		order: 3;
	}
	.stats {
		order: 2;
		margin: 0.5rem 0rem;
		@include center-row;
		justify-content: space-between;

		span {
			@include center-column;
			align-items: start;

			p {
				text-transform: capitalize;
				font-size: 0.8rem;
				color: variables.$paragraphColour;
			}
		}
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	@media screen and (min-width: 768px) {
		padding: 2rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 100px auto 200px;
		grid-template-areas:
			"a b"
			"a c"
			"d c";

		gap: 2rem;
		.our_products_header {
			grid-area: a;
			gap: 2rem;
		}
		.img_holder1 {
			grid-area: c;
		}
		.img_holder2 {
			grid-area: d;
		}
		.stats {
			margin: 0rem 0rem;
			grid-area: b;
			width: 100%;
			justify-self: end;

			p {
				text-transform: capitalize;
			}
		}
	}
	@media screen and (min-width: 878px) {
		grid-template-rows: 100px 200px 200px;
	}
}
