.hamburger {
	// padding: 0.5rem;

	svg {
		width: 24px;
		height: 24px;
	}

	@media screen and (min-width: 375px) {
		// padding: 1rem;

		svg {
			width: 30px;
			height: 30px;
		}
	}
	
	@media screen and (min-width: 768px) {
		display: none;
	}
}
