.logo {
	// padding: 0.5rem;
	width: 130px;
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		width: 100%;
		height: 100%;
	}
	@media screen and (min-width: 375px) {
		// padding: 1rem;
		width: 150px;
		height: 70px;
	}
}
